*.iso
isodir
sysroot
build
*.bin
fat32_floppy.img
*.img
*.mem
qemu-monitor-socket
run_qemu.sh
hints2.txt
asm.s
asm.asm
disk.img
floppy.img
fat32_floppy.img
*.exe
ports/newlib/build/*
ports/newlib/newlib-*
ports/newlib/myos/*.cache
ports/newlib/myos/*.m4
ports/newlib/myos/configure
qemu-monitor-socket
ports/newlib/myos/Makefile.in
zshrc
cross-compile-tips.txt
hint.txt
test.txt